{% extends 'baseBackend.html.twig' %}

{% block title %}List Movie{% endblock %}

{% block body %}

    <form>
        <input name="name" class="form-control">
        <input name="year" class="form-control">
        <button type="submit">Search</button>
    </form>

    {% for movie in movies %}
        {{ movie.name }}
        {% endfor %}

{% endblock %}